.App {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
}

.searchContainer {
  display: flex;
}

.searchInput {
  width: 500px;
  height: 30px;
  margin-bottom: 20px;
}

.issues__container {
  border: 2px solid gray;
  border-radius: 10px;
  width: 100%;

}

.issue__box {
  border-bottom: 1px solid gray;
  padding: 0px 10px;
}

.issue__box p {
  margin-top: 0;
  font-size: smaller;
  color: lightslategrey;
}

.main__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.warning__container {
  display: flex;
  align-items: center;
}

.label {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: smaller;
  margin-left: 10px;
}

.comments {
  width: 50px;
}

.icons {
  margin-right: 5px;
}

.warning {
  color: rgb(83, 212, 83);
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .info__container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .label {
    margin: 3px 0px;
    align-items: flex-start;
  }

  .comments {
    width: 20%;
  }
}
  
